[build-system]
requires      = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "threatmodel"
version = "0.0.8"
description = "Agile Threat Modeling as Code"
readme = "README.md"
authors = [{ name = "hupe1980" }]
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]
keywords = ["threat modeling"]
dependencies = [
    "tabulat ~= 0.9.0"
]
requires-python = ">=3.9"


[project.urls]
Homepage = "https://github.com/hupe1980/threatmodel"
